
.header{
    height: 60px;
    background-color: #252B31;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header .left img{
    width: 121px;
    height: 40px;
}
.header .right {
    display: flex;

}
.header .right a{
    /* display: block; */
    margin-left: 20px;
    color: #fff;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
}

.header .right a:hover{
    background-color: #EF8220;
    border: 1px solid #252B31;
}

/* 第一行导航栏 */
.nav{
    display: flex;
    align-items: center;
    height: 60px;
}
.nav .left .nav_button{
    height: 60px;
    display: flex;
    align-items: center;
}
.nav .left .nav_button li{
    align-items: center;
    margin-right: 50px;
}
.nav .left .button1{
    position: relative;

}
.nav .left .button1 .extend{
    width: 120px;
    position: absolute;
    right: -20px;
    top: 42px;
    background: #fff;
    border-radius: 10px;
}
.nav .left .button1 .extend li{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    text-align: center;
}
.nav .left .nav_button li:nth-child(3) .extend
{
    right: -17px;
}
.nav .left .nav_button li:nth-child(4) .extend
{
    right: -20px;
}
.nav .left .nav_button li:nth-child(5) .extend
{
    right: -12px;
}

.nav .left .nav_button li:nth-child(5) img{
    position: absolute;
    right: -29px;
    top: -11px;
    width: 27px;
    height: 15px;
}
.nav .left .button1 .extend
{
    display: none;
    transition: 5s;
}
.nav .left .button1 a:hover{
    color: #FF7900;
}
.nav .left .button1:hover .extend{
    display: block;
    
}

.nav .left .button1 .extend a:hover{
    color: #FF7900;
}

/* nav_right */
.nav .right{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.nav .right .right_left{
    
    width: 115px;
    height: 23px;
    margin-right: 349px;
}
.nav .right .right_right{
    display: flex;
    align-items: center;
}
.nav .right .right_right .pic{

    width: 124px;
    height: 57px;
}
.nav .right .right_right .txt
{
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid #D8D8D8;
    font-size: 18px;
    color: #656E79;
}


/* banner */
.banner{
    height: 450px;
    background-color: #264ADA;
}
.banner .wrapper{
    display: flex;
    justify-content: space-between;
}
.banner .left{
    width: 200px;
    height: 450px;
    background-color: rgba(0,0,0,0.3);
    
}
.banner .left{
    padding-top: 30px;
}
.banner .left li{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 200px;
    height: 40px;
    /* background-color: #EF8220; */
    line-height: 40px;
}
.banner .left li a{
    font-size: 18px;
    color: #fff;

}
.banner .left li .iconfont{
    display: none;
    color: #fff;
    
}
.banner .left .top{
    position: relative;
}
.banner .left .top .cover_top{
    display: none;
    position: absolute;
    top: -31px;
    right: 0px;
    width: 200px;
    height: 34px;
    background-color: #EF8220;
}

.banner .left .bottom
{
    position: relative;
}
.banner .left .cover_bottom{
   display: none; 
   position: absolute;
   right: 0px;
   top: 37px;
    width: 200px;
    height: 24px;
    background-color: #EF8220;
}

.banner .left li:hover{
    background-color: #EF8220;
}
.banner .left li:hover .iconfont{
    display: block;
}

.banner .left li:nth-child(1):hover .cover_top{
    display: block;
}
.banner .left li:last-child:hover .cover_bottom{
    display: block;

}



.banner .pic img{
    width: 860px;
    height: 450px;
}
.banner .right{
    width: 300px;
    height: 450px;
    background-color: rgba(0,0,0,0.3);
}

/* top_cover */
/* 感觉示意图的底框线要宽一点，不太清除怎么做？ */
.banner .top_cover{
    width: 300px;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
}

.banner .top_cover ul{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    
}

.banner .top_cover a{
    display: block;
    padding: 0 2px;
    line-height: 40px;
    font-size: 14px;
    color: #d8d8d8;
    /* border-bottom: 1px solid #EF8220; */
}


.banner .top_cover a:hover{
    color: #fff;
    border-bottom: 1px solid #EF8220;
}

/* right menu */

.banner .menu{
    margin-left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.banner .menu ul{
    list-style: disc;
}
.banner .menu ul li{
    font-size: 13px;
    margin-top: 19px;
}
.banner .menu ul li:last-child{
    margin-bottom: none;
}
.banner .menu ul li a{
    color: #fff;
}
.banner .menu ul li a:hover{
    color: #EF8220;
}

/* banner下方黑色导航栏 */
.black_nav{
    height: 90px;
    background-color: #191E26;
}
.black_nav ul{
    display: flex;
    justify-content: space-between;
}
.black_nav li{
    width: 328px;
    height: 90px;
    /* background-color: #EF8220; */
    color: #fff;
}
.black_nav li{
    padding-left: 92px;
    padding-right: 100px;
    display: flex;
    align-items: center;
}
.black_nav  .active{
    background-color: #EF8220;
}
.black_nav li .pic{
    margin-right: 10px;
}
.black_nav li .pic img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.black_nav li .txt a{
    color: #fff;
}

.black_nav li:hover{
    background-color: #EF8220;
}

/* 交互实验室 */
.lab .content{
    position: relative;
}
/* title公共样式 */
.title{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}
.title .left h4{
    font-size: 25px;

}
.title .right a{
    font-size: 16px;
    color: #8B8A8B;
}

/* 交互实验室内容部分 */
.lab .txt1{
    position: absolute;
    top: 42px;
    left: 50px;
    width: 193px;
    height: 91px;

}
.dialog{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 10px;
    width: 193px;
    height: 88px;
    border: 1px solid #FFE7D1;
    box-shadow: 0 0 14px 0 #FFE9D4;
    border-radius: 6px;
}

.dialog:before,

.dialog:after{  

    position:absolute;  

    content:'';

    border: 15px solid;

}  

.dialog:before{  

    right: 90px;

    top: 85px;

    border-color: #FFE9D4 transparent transparent transparent;

}  

.dialog:after{  

    border-color: #fff transparent transparent transparent;

    right: 90px;

    top: 83px;

}

.dialog .ilu{
    position: relative;
    margin-right: 10px;
    width: 57px;
    height: 45px;
}

/* 加margin图好像变了，等会解决 */
.dialog .ilu img{

    position: absolute;
    object-fit: contain;
}
.dialog .ilu p{
    position: absolute;
    color: #3DCDCA;
    font-size: 16px;
    top: 15px;
    left: 11px;
}
.dialog .word a{
    font-size: 16px;
    color: #9E9E9E;
}
.labcover{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 63px;
    background-color: #EF8220;
}
.labcover::before{
    border-color: #EF8220 transparent transparent transparent;
}
.labcover::after{
    border-color: #EF8220 transparent transparent transparent;
}
.labcover p{
    font-size: 24px;
    
    color: #fff;
}



.txt1 .dialog .ilu p{
    color: #F72B58;
}


.txt2{
    position: absolute;
    left: 190px;
    top: 134px;
}

.txt3{
    position: absolute;
    left: 388px;
    top: 160px;
}

.txt4{
    position: absolute;
    left: 811px;
    top: 151px;
}
.txt5{
    position: absolute;
    left: 978px;
    top: 51px;
}

.txt6{
    position: absolute;
    left: 1167px;
    top: 133px;
}

.lab .txt1:hover .labcover{
    cursor: pointer;
    display: block;
}

.lab .txt2:hover .labcover{
    cursor: pointer;
    display: block;
}
.lab .txt3:hover .labcover{
    cursor: pointer;
    display: block;
}
.lab .txt4:hover .labcover{
    cursor: pointer;
    display: block;
}
.lab .txt5:hover .labcover{
    cursor: pointer;
    display: block;
}
.lab .txt6:hover .labcover{
    cursor: pointer;
    display: block;
}